<div class="list-item">

    <div class="list-blog-header">
        <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
        {% if big_header %}
            {{ page.media.images|first.cropResize(900,600).html }}
        {% else %}
            {{ page.media.images|first.cropZoom(900,300).html }}
        {% endif %}
        
    </div>

    <div class="list-blog-padding">
    {% if truncate %}
        <p>{{ page.content|truncate(550) }}</p>
        <p><a href="{{ page.url }}" class="button primary">Read More +</a></p>
    {% else %}
        <p>{{ page.content }}</p>
    {% endif %}
    </div>

    <div class="list-blog-details">
        <span class="list-blog-date">
            Posted on {{ page.date|date("M") }} {{ page.date|date("d") }}, {{ page.date|date("Y") }}
        </span>
        {% if page.taxonomy.tag %}
        <span class="tags">
            Tags: 
            {% for tag in page.taxonomy.tag %}
            <a href="{{ base_url }}/tag:{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>
</div>
